<!DOCTYPE html>
<html lang="en" id="theme" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Technical test for the Backend Developer profile{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
            <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                    <li>
                        <a href="{{ path('app_home') }}">
                            <strong>TTBDP APP</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a href="{{ path('group_create') }}">{{ 'Create group'|trans }}</a></li>
                    {% endif %}

                    <li><a href="{{ path('member_index') }}">{{ 'Members'|trans }}</a></li>

                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">{{ 'Log in'|trans }}</a></li>
                    {% endif %}

                    <li><a href="{{ path('api_entrypoint') }}">API</a></li>
                    <li>
                        <input type="checkbox" role="switch" class="contrast switcher theme-switcher" aria-label="Turn off dark mode">
                    </li>
                </ul>
            </nav>

            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
